body {
    background-image:url('back.jpg');
    background-size:cover;
     font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    height:100%;
    vertical-align:middle;
    color:white
}

div#preload { display: none; }

.box {
    padding:15px;
    max-width:900px;
    height:40%;
    margin: 0 auto;
    margin-top:10%;
    background-color:rgba(0,0,0,0.4);
    text-align:center;
}

#title {
    width:100%;
    height:50px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px;
    width:150px
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.button6 {background-color: #1abc9c; color: black}